<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_URI} /api/
    RewriteRule ^ router.php [L]
</IfModule>

RedirectMatch 404 /\.git
